body {
	background: black;
	background-image: url("wallpaperFade.jpg");
	background-repeat: no-repeat;
	background-color: black;
	background-size: contain;
	background-position: bottom;
}
form {
	padding: 0;
	margin: 0;
}

#clock-container {
	color: #2c5;
	padding: 10px;
	margin: 10px;
}
#clock-main {
	font-size: 160;
	padding: 0px;
	margin: 0px;
}
#clock-sub {
	font-size: 40;
	padding: 0px 0px 0px 20px;
}

#radio-container {
	position: absolute;
	padding 10px;
	margin: 10px;
	bottom: 0px;
}
#radio-main {
	width: 400;
	height: 250;
	overflow: hidden;
}

#game-container {
	float: left;
}

#toolbox {
	float: left;
}

#window_cont {
	float: right;
	width: 400px;
	border: 2px solid #ddd;
	padding: 5px;
}
	
#message_cont {
	height: 500px;
	border: 1px solid #aaa;
	overflow-y: scroll;
	padding: 5px;
}
#input {
	margin-top: 5;
}
#input > input {
	font-family: 'Times';
	font-style: normal;
	font-size: 16;
	width: 90%;
	height: 30px;
}
#input > button {
	font-family: 'Times';
	font-style: normal;
	font-size: 16;
	float: right;
	width: 10%;
	height: 30px;
}
button:hover {
	background: #eee;
}
.alert {
	font-style: italic;
	color: rgb(150,150,200);
}
.msg {
}
.msg::before {
	content: attr(user) ' : ';
}

#messages {

}
#messages > p {
	padding: 5;
	margin: 0;
	border-bottom: 1px solid #bbb;
}
