body {
	background: black;
	background-image: url("wallpaperFade.jpg");
	background-repeat: no-repeat;
	background-color: black;
	background-size: contain;
	background-position: bottom;
}
form {
	padding: 0;
	margin: 0;
}

. {
	color: #2c5;
}

#clock-container {
	color: #193;
	padding: 50px 10px 10px 10px;
	margin: 15px;
}
#clock-main {
	font-size: 140;
	line-height: 110px;
	padding: 0px;
	margin: 0px;
}
#clock-sub {
	/*color: #3c5;*/
	font-size: 40;
	padding: 0px 0px 0px 20px;
}


#calander-container {
	color: #193;
	padding: 0px;
	margin: 30px 0px;
}
#calander-title {
	color: #836;
	font-size: 30;
}
#calander-title table {
	color: #836;
	font-size: 30;
}
#calander-title .content {
	
}
#calander-main {
	visibility: visible; /* visible|hidden */
}
#calander-small {
	visibility: hidden;
}
#calander-main ul li {
	height-top: 0px;	
	border-color: #3c5;
	border-left: 1px solid #3c5;
	border-right: 1px solid #3c5;
}

/* Weekdays (Mon-Sun) */
.weekdays {
	margin: 0;
	padding: 10px 0;
}
.weekdays-number {
	float: right;
	text-align: right;
}
.weekdays-number.active{
	background-color: #836;
	border-radius: 10px;
	color: black;
}

.weekdays li {
	display: inline-block;
	width: 13.6%;
	text-align: left;
}
.weekdays div {
	padding: 0px 8px;
}
.weekdays hr {
	color: #3c5;
	border-color: #3c5;
	border-bottom: 1px solid #3c5;
	
	padding: 0px;
	margin: 5px 5%;
	text-align: center;
	width : 90%;
}
.weekdays .content {
	/*float: left;*/
	margin: 5px 0px; 
	height: 100px;
}

#radio-container {
	position: absolute;
	padding 10px;
	margin: 10px;
	bottom: 0px;
}
#radio-main {
	width: 400;
	height: 250;
	overflow: hidden;
}

#game-container {
	float: left;
}

#toolbox {
	float: left;
}

#window_cont {
	float: right;
	width: 400px;
	border: 2px solid #ddd;
	padding: 5px;
}
	
#message_cont {
	height: 500px;
	border: 1px solid #aaa;
	overflow-y: scroll;
	padding: 5px;
}
#input {
	margin-top: 5;
}
#input > input {
	font-family: 'Times';
	font-style: normal;
	font-size: 16;
	width: 90%;
	height: 30px;
}
#input > button {
	font-family: 'Times';
	font-style: normal;
	font-size: 16;
	float: right;
	width: 10%;
	height: 30px;
}
button:hover {
	background: #eee;
}
.alert {
	font-style: italic;
	color: rgb(150,150,200);
}
.msg {
}
.msg::before {
	content: attr(user) ' : ';
}

#messages {

}
#messages > p {
	padding: 5;
	margin: 0;
	border-bottom: 1px solid #bbb;
}
